body {
    text-align: center;
    background: lightblue;
}

.grid {
    width: 600px;
    height: 600px;
    display: flex;
    float: left;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 20px;
    background: rgb(3, 22, 9);
}

.grid div {
    width: 20px;
    height: 20px;
}

.content {
    float: left;
    width: 10%;
    padding: 30px;
}

.snake {
    background-color: azure;
    border-radius: 50px;
}

.apple {
    background-color: red;
    border-radius: 10px;
}

.apple2 {
    background-color: goldenrod;
    border-radius: 10px;
}

button {
    background: rgb(131, 59, 247);
    color: white;
    padding: 10px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background: rgb(153, 66, 66);
}

.score,
.live {
    display: block;
    margin: 10px;
    padding: 20px;
    font-size: 26px;
}

.score {
    color: rgb(35, 59, 4);
}

.live {
    color: rgb(35, 59, 4);
}